<div>
<h1>Login</h1>
  <%= form_for :sessions, :remote => true, url: {action: "create"} do |f| %>

    <%= f.label :email %>
    <%= f.email_field :email%>

    <br>

    <%= f.label :password %>
    <%= f.password_field :password %>

    <br>

    <%= f.submit "login"%>

  <% end %>

</div>

<%= link_to "Signup to become a volunteer!", new_volunteer_path %>
<%= link_to "Signup as an organization to find volunteers!", new_organization_path %>
